<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TV SHOWS 2</h1>
    
    <p>title {{show.title}}</p>
    <p>{{show.network}}</p>
    <p>{{show.release_date}}</p>
    <p>{{show.Description}}</p>
    <hr>
    <p>Last updated at : {{show.updated_at}}</p>
    <a href="/shows/{{show.id}}/edit">Edit</a> <span>|</span><a href="/shows/{{show.id}}/delete">delete</a>
</body>
</html>