.head {
  margin: 50px;
}
.bot {
  background-color: rgb(242, 244, 245);
  color: rgb(14, 204, 204);
  border: 2px solid rgb(14, 204, 204);
  border-radius: 8px;
  width: 100px;
}

.circ button {
  color: white;
  text-align: center;
  background-color: rgb(165, 227, 165);
  border: 1px solid rgb(98, 174, 109);
  border-radius: 100%;
  width: 20px;
  margin: 5px;
}
.ate button {
  background-color: blue;
  color: white;
  width: 120px;
  border: 2px solid black;
  border-radius: 2px;
  width: 150px;
  box-shadow: 3px 5px black;
}
