.nav-bar{
    display: flex;
    justify-content: end;
}
.nav-bar1{
    display: flex;
    align-items: center;
    margin-right: 800px;
    font-size: 20px;

}
.nav-bar1 a{
    margin-right: 5px;
    text-decoration: none;
}
.nav-bar2{
    display: flex;
    align-items: center;
   margin-right: 20px;
    font-size: 20px;

}