<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    

  <h1> title: {{bok.title}}</h1> 
  <h3>id :{{bok.id}}</h3> 
  <h3>description: {{bok.desc}}</h3>
  <hr>
  <h3>Authers:</h3>


<ul>
    
 
  {% for auther in bok.authors.all %}
 <li> <p>{{auther.first_name}}   {{auther.last_name}}</p></li>
  {% endfor %}

</ul>


  <form action="/addaot/{{bok.id}}" method="POST" >
           {% csrf_token %} 


    <select name="authers">
    {% for a in aut %}
    {% if a not in bok.authors.all  %}
    <option value="{{a.id}}"> {{a.first_name}} {{a.last_name}} </option>
    {% endif %}
    {% endfor%}
    </select>
        
            
        <input type="submit" value="add">
        </form>


       

</body>
</html>
