<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div><h1>Welcome to the Great Number Game !</h1></div>
        <div><h3>I am thinking of a number between 1 to 100</h3></div>
        <div><h3>Take a guess!</h3></div>


         <div class="small"><p>
            {{y}}
           </p> 
         </div>



            <form method="POST" action="/action">
                {% csrf_token %}
                 <input type="text" id="username" name="guess"><br>
                 <input type="submit" value="Submit">
          </form>

        
       
       

    </div>  
</body>
</html>