<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="information">
       
        <p>{{all_products.name}}</p>
        <p>{{all_products.price}}</p>
        {% if all_products.quantity > 200 %}
        <p> {{all_products.quantity}}</p>
        {%else%}
        <p style="color: red;">{{all_products.quantity}} </p>
        <form action="/add_quntity/{{all_products.id}}" method="post">
            {%csrf_token%}
            <input type="number" name="quntity">
            <input type="submit" value="add_quntity">
        </form>
        
        
        {%endif%}
        <p>{{all_products.updated_at}}</p>
        <p></p>
        

    </div>
</body>
</html>