<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
</head>

<body>
    <div>
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name Product</th>
                    <th>price</th>
                    <th>quantity</th>
                    <th>category</th>
                    <th>action</th>
                </tr>
            </thead>
            {%for i in product%}
            <tbody>
                <tr>
                    <td><a href="/information/{{i.id}}">{{i.name}}</a></td>
                    <td>{{i.price}}</td>
                    
                    <td>{{i.quantity}}</td>
                    <td>
                    {%for j in i.categoies.all %}
                    
                    {{j.type}}</td>
                    {%endfor%}
                    <td><a href="/edit/{{i.id}}">Edit</a><a href="/delete/{{i.id}}">| Delete</a></td>
                    
                </tr>
            </tbody>
            {%endfor%}
            </table>
    </div>




    <div >
        <a href="/go_to_add_products"> Add products</a>
    </div>



</body>

</html>