<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="top-bar">
            <a href="/paintings">Dachbord</a>
            <button><a href="/logout">Log out</a></button>
            <button><a href="/paintings/new">add paint</a></button>
        </div>
        <hr>
        <h1>{{p.title}}</h1>
        <div class="show-details">
            
            <p>painted by {{p.user.fname}}</p>
            <br>
            <p>description{{p.description}}</p>
            <br>
            <p>price{{p.price}}</p>
            

            
            
        </div>
      </div>
</body>
</html>