.container {
  width: 950px;
  height: 700px;
  background-color: silver;
}

.top-nav {
  width: 960px;
  height: 150px;
  padding-top: 1px;
  display: block;
  padding-bottom: 10px;
}
.inner {
  height: 120px;
  padding: 10px;
  background-color: green;
  display: block;
  margin: 60px;
}
.side-nav {
  height: 300px;
  width: 200px;
  background-color: blue;
  /* margin: 10px; */
  margin-top: 43px;
  margin-left: 48px;
}
.main {
  height: 450px;
  width: 700px;
  background-color: red;
  margin: 40px;
}
.sub-content {
  height: 200px;
  width: 210px;
  background-color: yellow;
  padding: 4px;
  margin: 4px;
}
#advertisement {
  height: 120px;
  width: 660px;
  background-color: purple;
  margin: 20px;
  margin-bottom: 20px;
}
.row {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
